/* index.css or App.css */

/* Light mode background */
body {
  background-color: #ffffff; /* light background */
  color: #000000; /* light text */
}

/* Dark mode background */
body.dark {
  background-color: #1a202c; /* dark background */
  color: #ffffff; /* dark text */
}